@charset "UTF-8";

body {
    background-image: url(imagens/fundo.svg);
    background-size: 75em;
}

#form1 {
    height: 400px;
    width: 600px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 5px 5px 5px;
    border-radius: 20px;
}

.subject {
    margin: auto;
    height: 20px;
    width: 300px;
    display: block;
}